fastapi
uvicorn[standard]
websockets
python-dotenv
python-multipart
yt-dlp
openai-whisper
numpy
PyMuPDF
sqlmodel
sqlalchemy
psycopg2-binary
azure-cognitiveservices-speech
google-generativeai
passlib[bcrypt]
bcrypt<4.1
pyjwt
email-validator
httpx